---
import Heading from "../Components/Heading.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jorge Rodriguez</title>
	</head>
	<body>
		<h1>Curriculum Vitae</h1>
		<Heading></Heading>
	</body>
</html>
